.account-page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 3rem;
}

.account-page-header__content {
    display: flex;
    flex-direction: column;
    justify-content: left;

}